<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What I can do for you</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <i class="fa fa-arrow-right"></i>
          You have a new idea for a project, I can make it real.
        </p>
        <p>
          <i class="fa fa-arrow-right"></i>
          You have an existing project, I can create additional features.
        </p>
        <p>
          <i class="fa fa-arrow-right"></i>
          You have technical debt on your project, I can help you refactor.
        </p>
      </div>
    </div>
  </div>
</section>
