<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
        <p class="center-block">
          <i class="fa fa-envelope"></i>
          <a href="mailto:thijs@morewood.be">thijs@morewood.be</a>
        </p>
      </div>
    </div>
  </div>
</section>
