<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-circle" src="https://www.gravatar.com/avatar/7c3a7cabcbb7aef5f5cea4e9b4f167af?s=200" alt="My gravatar">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
