<!-- jQuery -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/jqBootstrapValidation.js"></script>
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/contact_me.js"></script>
<!-- Custom Theme JavaScript -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/freelancer.js"></script>
