<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      {% for project in site.projects %}
      <div class="col-sm-4 portfolio-item">
        <a href="{{ project.url }}" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ site.baseurl }}/{{ project.img }}" class="img-responsive" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
