<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      {% for skill in site.skills %}
      <div class="col-sm-1">
        <p>{{ skill.name }}</p>
      </div>
      <div class="col-sm-5">
        <div class="progress skill">
          <div style="width: {{ skill.progress }}%" aria-valuemin="0" role="progressbar" aria-valuemax="100" aria-valuenow="{{ skill.progress }}" class="progress-bar progress-bar-primary">
            <span class="sr-only">{{ skill.progress }}%</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
