---
layout: default
---
<div class="portfolio-modal">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ page.title }}</h2>
            <hr class="star-primary">
            <img src="{{ site.baseurl }}/{{ page.img }}" class="img-responsive img-centered" alt="">
            {{ page.content }}
            <ul class="list-inline item-details">
              <li>Category:
                <strong>{{ page.category }}
                </strong>
              </li>
              <li>Date:
                <strong>{{ page.date | date: "%B %Y" }}
                </strong>
              </li>
            </ul>
            <a href="{{ site.baseurl }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
